/**
 * @file
 * Styling for block_place module regions and buttons during block placement.
 */

.block-place-region {
  margin: 0.5em 0.5em;
  padding: 5px;
  text-align: center;
  background-color: #f0f0f0;
  clear: both;
}

.block-place-region a.button,
.block-place-region a.button:focus,
.block-place-region a.button:hover {
  position: relative;
  background-color: #ffffff;
  background-image: url(plus.svg);
  background-position-x: center;
  background-position-y: center;
  background-size: 16px 16px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 5px 10px 5px 10px;
  height: 26px;
  width: 26px;
  white-space: nowrap;
  -webkit-appearance: none;
}

.block-place-region .ajax-progress {
  position: relative;
  top: -10px;
  right: 26px;
  height: 0;
  width: 0;
  overflow: visible;
  padding: 0;
}

[dir="rtl"] .block-place-region .ajax-progress {
  float: inherit;
  left: 26px;
  right: inherit;
}

.block-place-region .ajax-progress-throbber .throbber {
  display: block;
  padding: 0;
  height: 26px;
  width: 26px;
  background-position: center 6px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 100px;
  box-sizing: border-box;
}
